<div id="loginOfflineContainer" style="display: none;">
    <div id="loginOfflineCancelContainer" >
        <button id="loginOfflineCancelButton">
            <div id="loginCancelIcon">X</div>
            <span id="loginCancelText">Cancelar</span>
        </button>
    </div>
    <div id="loginContent">
        <form id="loginOfflineForm">
            <img id="loginImageSeal" src="assets/images/SealCircle.png"/>
            <span id="loginSubheader">Entrar com Nick</span>
            <div class="loginFieldContainer">
                <input id="loginOfflineUsername" class="loginField" type="text" placeholder="Nick"/>
            </div>
            <button id="loginOfflineButton" disabled>
                <div id="loginButtonContent">
                    Entrar
                </div>
            </button>
        </form>
    </div>
    <script src="./assets/js/scripts/loginOffline.js"></script>
</div>